body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}